.panelColumn{
  position: fixed;
  top: 150px;
  left: 50px;
  z-index: 100;
}

#cityInput{
  width: 227px;
}

#checkInInput{
  width: 163px;
}

.searchInput{
  margin-left: 10px;
}

.searchBtn{
  margin-top: 10px;
}